/* LOGIN PAGE */
.login-page {
    background-color: var(--bg-alt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    background-color: var(--bg);
    padding: var(--space-md) var(--space-lg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-lg);
    gap: var(--space-md);
    text-align: center;
}

.login-button__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

/* MANAGEMENT PAGES */
.admin-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: var(--space-md);
}

.admin-header h2 {
    color: var(--accent);
}

.admin-header .btn {
    margin-left: auto;
}


/* TABLES */
.data-table {
    width: 100%;
}

.data-table tr {
    text-align: center;
}

.data-table td {
    padding: var(--space-sm) var(--space-md);
    color: var(--text);
    border-bottom: 0.5px solid rgba(0,0,0,0.8);
}

.data-table th {
    padding: var(--space-sm) var(--space-md);
    color: var(--text);
}

.data-table thead {
    background-color: var(--bg-alt);
    font-family: var(--font-heading);
    font-weight: 700;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}


/* FORM */

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-bottom: var(--space-md);
}

.form-label {
    text-align: left;
}

.form-input, .form-textarea {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--bg-dark);
    border-radius: var(--radius-sm);
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

.form-textarea {
    min-height: 120px;
}

.form-error {
    color: var(--danger);
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: var(--space-sm);
    margin-right: auto;
}

.checkbox-container input {
    width: unset;
}

.image-preview {
    aspect-ratio: 4/3;
    width: 160px;
    overflow: hidden;
    object-fit: cover;
}
